

*{
    margin:0;
    padding:0;
}
#container{
    width:88%;
    height:40px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    }
#container ul{
    display:flex;
    list-style: none;
  
}

#container ul li a{
     text-decoration: none;
     font-weight:bolder;
     letter-spacing: 1px;
     padding:3px;
     font-family:inherit;
     vertical-align: baseline;
     font-size: 0.85rem;
     color: inherit;
    margin:3px;
     text-align: center;
     cursor:pointer;

}
#container ul li a:hover{
    color:black;
    text-decoration: underline;
    font-weight: bold;
}
#container button{
    background-color: #ff5c35;
    font-size: 0.9rem;
    line-height: 1.57;
    padding: 0.25rem 1rem;
    border-color: transparent;
    color:white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    margin-right: 0;
    transition:   transform 1s;
}
#container button:hover{
    background-color:orangered;
    text-decoration: underline;
    transform: scale(1.1);
}

nav{
    height:70px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding:0px 50px 0px 100px;
    z-index:95;
    font: inherit;
    vertical-align: baseline;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#logo{
    margin:4.3rem;
}
#logo img{
    width:100%;
    padding: 1rem;
}

nav ul{
    display:flex;
    list-style: none;
    
}
nav ul li{
    margin:0 25px;
  
}

nav ul li a{
    color:#2e475d;
    text-decoration: none;
     font-size: 20px;
     font-weight: 700;
     letter-spacing: 1px;
     
}
nav ul li a:hover{
    text-decoration: underline;
    color: teal;
    cursor: pointer;
    
}
#container1{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-family:" Lexend Deca",sans-serif;
    margin: auto;
    margin-top: 1rem;
}




#container1>div:nth-child(1){
    width:63%;
    color:#2e475d;
    background-color:#eaf0f6;
    transition: transform 0.5s;
    cursor: pointer;
}
#container1>div:nth-child(1) h3{
 font-size: 2rem;
 font-family:" Lexend Deca",sans-serif;
 font-weight: 500;
 margin:7px;
 padding:7px;
}
#container1>div:nth-child(1) p{
    font-size: 0.8rem;
    font-weight: 600;
    display:block;
    font-family:"Lexend Deca",sans-serif;
    margin:7px;
    padding: 7px;
}
#container1>div:nth-child(1) img{
 width:100%;
 
 
}
#container1>div:nth-child(1):hover{
   transform: scale(1.05);
}
#container1>div:nth-child(2){
width:30%;


}
#container1>div:nth-child(2) h2 {
    background-color: #ff5c35;
    color: #fff;
    font-size: 0.9rem;
    display: block;
    letter-spacing: 0.025rem;
    padding: 0.25rem 0.75rem;
    margin: 0.2rem 0 0.5rem;
    max-width: 60%;
    font-weight: 500;
    line-height: 1.42;
    font-family: inherit;
    border-radius: 3px;
}

#container1>div:nth-child(2) h3{
    font-size: 0.8125rem;
    padding:5px;
    min-height: auto;
    line-height: 1.3125em;
    display: block;
    color: #2e475d;
    max-width: 80%;
    font-weight: 800;
    font-family: inherit;
    

}
#container1>div:nth-child(2) p{
    margin-top: 2px;
    font-weight: 600;
    font-size: 0.75rem;
    display: block;
    color: #2e475d;
    font-family: inherit;
    max-width: 80%;
    
}
.class1{
    background-color: #eaf0f6;
    padding: 0.5rem 0.5rem 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
.class1:hover{
    transform: scale(1.06);
}